*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main .col{
    max-width: 90%;
    margin: auto;
    margin-top: 40px;
}

/* nav-bar */
nav{
    background-color: #0084fd;
    height: 80px;
}

nav .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: 100%;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
}

nav .nav-container .nav-elements {
    display: flex;
    display: none;
}

nav .nav-container .nav-elements ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    color: #ffffff;
}

nav .nav-container .nav-elements button {
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    background-color: #ffffff;
}

nav .nav-container .nav-mobile-tablet {
    font-size: 1.5em;
    color: white;
}
/* /nav-bar */


/* main */
/* section-1 */
main .section-1 .col-1{
    border-radius: 30px;
    background-color: #b5ddff;
}

main .section-1 .col .title-sect-1{
    padding-top: 30px;
    font-size: 1.7em;
    color: #0084fd;
}

main .section-1 .col .text-inner{
    padding-top: 40px;
    margin-bottom: 40px;
    font-size: 1.2em;
    line-height: 1.5em;
}

main .section-1 .col .text-col .text-inner{
    padding-right: 30px;
}

main .section-1 .col .text-col{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

main .section-1 .col .text-col-big{
    display: flex;
    flex-direction: column;
    text-align: center;
}

main .section-1 .col .text-col .blue-btn{
    max-width: 200px;
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #0084fd;
}

main .section-1 .col .img-col{
    width: 80%;
    height: 300px;
    margin: auto;
    margin-top: 40px; 
}

main .section-1 .col .img-col img{
    height: 100%;
}

main .section-1 .col .text-col-big .fa-solid{
    margin: auto;
    margin-top: 30px;
    font-size: 5em;
    color: #0084fd;
}
/* /section-1 */


/* section-2 */
main .section-2{
    padding-bottom: 70px;
    background-color: #9792e4;
}

main .section-2 .col .img1-sect-2{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 70px;
}

main .section-2 .col .img1-sect-2 img{
    width: 100%;
}

main .section-2 .col .text-sect-2 .title1-sect-2{
    padding-bottom: 40px;
    font-size: 1.8em;
    line-height: 1.5em;
    color: #ffffff;
}

main .section-2 .col .text-sect-2 .text-inner{
    margin-bottom: 40px;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #ffffff;
}

main .section-2 .col-white{
    border-radius: 30px;
    text-align: center;
    background-color: #ffffff;
}

main .section-2 .col-white .img2-sect-2{
    width: 90%;
    margin: auto;
}

main .section-2 .col-white .img2-sect-2 img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}

main .section-2 .col-white button{
    padding: 15px 21px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 40px;
    border: none;
    font-size: 1.5em;
    background-color: #9792e4;
}

main .section-2 .col-white .title2-sect-2{
    font-size: 1.5em;
    line-height: 1.5em;
}

main .section-2 .col-white .text-inner{
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
    line-height: 1.5em;
}
/* /section-2 */


/* section-3 */
main .section-3 .col-3{
    text-align: center;
    margin-top: 80px;
}

main .section-3 .col-3 .testim-{
    font-size: 1.2em;
    margin-bottom: 30px;
}

main .section-3 .col-3 .title-3{
    font-size: 1.5em;
    color: #9792e4;
}

main .section-3 .col-3 .text-inner{
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 1.2em;
    line-height: 1.5em;
}
/* /section-3 */


/* /main */